<app-nav-bar></app-nav-bar>
<div class="below-navbar">
  <!--
    <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
          },
          "google_translate_element"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  -->
  <!--
    <section class="slider">
      <ul class="slides">
        <li>
          <img src="/src/assets/blur-boxes-cards-688017.jpg" alt="" />
          <div class="caption center-align">
            <h2>Take your dream vacation</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              delectus officiis dolorum mollitia minus reiciendis.
            </h5>
            <a href="" class="btn btn-large">Learn More</a>
          </div>
        </li>
        <li>
          <img src="/src/assets/adolescent-bag-beautiful-919436.jpg" alt="" />
          <div class="caption left-align">
            <h2>We work with all budget</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              delectus officiis dolorum mollitia minus reiciendis.
            </h5>
            <a href="" class="btn btn-large">Learn More</a>
          </div>
        </li>
        <li>
          <img src="/src/assets/background-boxes-celebration-1303082.jpg" alt="" />
          <div class="caption right-align">
            <h2>Group and individual getaways</h2>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              delectus officiis dolorum mollitia minus reiciendis.
            </h5>
            <a href="" class="btn btn-large">Learn More</a>
          </div>
        </li>
      </ul>
    </section>
  -->

  <div class="row">
    <div class="col-lg-12 ">
      <h3 style="text-align:center;">Buy and send eGift Cards</h3>
      <p
        style="text-align:center;margin-bottom:20px;font-family:sofiapro-reg;font-size:20px;"
      ></p>
      <h5 id="subheader" class="" style="text-align:center;">
        Buy for yourself or send it to a friend
      </h5>
    </div>
  </div>

  <div class="row center-wrapper store-wrapper">
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 first">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/coles.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>
      <div class="card-name">Coles</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 first">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/coles.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">Coles</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/jb-hi-fi.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>
      <div class="card-name">Jb-Hifi</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/myer-orange.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">Myer</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/good-guys.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">Good Guyz</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/kmart-2017-06.jpg"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">K-mart</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/woolworthsgc.png"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">Woolworths</div>
    </div>
    <div class="card-items col-lg-3 col-md-4 col-xs-12 col-sm-4 second">
      <a href="/userdetails" class="button">
        <img
          src="/src/assets/woolworthsgc.png"
          class="card-img"
          style="opacity:1;"
          alt=""
      /></a>

      <div class="card-name">Woolworths</div>
    </div>
  </div>
</div>

<!-- Contact -->
<section id="contact" class="section section-contact scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel teal white-text center">
          <i class="material-icons medium">email</i>
          <h5>Contact Us</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae ipsa
            ducimus soluta eveniet nam recusandae accusantium voluptatibus,
            beatae possimus quis.
          </p>
        </div>
        <ul class="collection with-header">
          <li class="collection-header"><h4>Location</h4></li>
          <li class="collection-item">Travelville Agency</li>
          <li class="collection-item">555 Beach rd, Suite</li>
          <li class="collection-item">Miami Fl, 2555</li>
        </ul>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <h5>Please Fill out the form</h5>
          <div class="input-field">
            <input type="text" placeholder="Name" id="name" />
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input type="email" placeholder="Email" id="email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="number" placeholder="Phone" id="phone" />
            <label for="phone">Phone</label>
          </div>
          <div class="input-field">
            <textarea
              class="materialize-textarea"
              placeholder="Enter Message"
              id="message"
            ></textarea>
            <label for="message">Message</label>
          </div>
          <input type="submit" value="submit" class="btn" />
        </div>
      </div>
    </div>
  </div>
</section>
